[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
six = "*"
validate-email = "*"
django = "*"
django-heroku = "*"

[dev-packages]

[requires]
python_version = "3.12"
